
* {box-sizing: border-box;}

html, body {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #f0fff1;
}

.header {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    &__wrapper {
        background-image: linear-gradient(to bottom right, #5603ad, #8367c7, #b3e9c7);
        background-image: url('https://i.imgur.com/Verjau6.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #5603ad;
        margin: 0;
        padding: 0;
    }
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        > img {
            width: 100%;
            height: 100%;
            margin: 0;
            object-fit: cover;
        }
    }
    &__name {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        text-align: center;
        transform : translate(-50%,-50%); 
        text-transform: uppercase;
        filter: drop-shadow(0 1mm 0.1em rgba(0,0,0, 0.5));
            > h1 {        
                font-size: 50px;
                font-weight: bold;
                color: #f0fff1;
                opacity: 0.9;
            }
    }
    
    &__date {
        position: absolute;
        top:5%;
        padding-left: 30px;
        opacity: 0.5;
        filter: drop-shadow(0 1mm 0.1em rgba(0,0,0, 0.5));
        text-transform: uppercase;
        > h3 {font-size: 15px;}
    }
}

.navbar {
 background-color: #5603ad;   
 display: flex;
 
}

.menu {
    position: relative;
    width: 100%;
    height: 100vh;
    color: black;
    padding: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #f0fff1;
    flex-wrap: wrap;
    &__titre {
        position: absolute;
        left:0;
        color: #5603ad;
        transform: rotateZ(-90deg);
        > h1 {        
            font-size: 50px;
            font-weight: bold;
        }
    }
    &__txt {
        position: relative;
        background: linear-gradient(217deg, rgb(3, 71, 173), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(131, 103, 199, 1), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(179, 233, 199, 1), rgba(0,0,255,0) 70.71%);
        height: 90%;
        max-width: 900px;
        width: 70%;
        padding-left: 70px;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
        color:#f0fff1;
        > ul {
            list-style-type:decimal;
            > li {margin: 40px 10px;}
            }
    }
}

@media screen and (max-width: 992px) {
    .menu__txt {
        padding-left: 30px;
        ul > li {
            font-size: 25px;
            margin: 30px 10px;
        }
    }
}

@media screen and (max-width: 576px) {
    .menu__titre {
        position: relative;
        width: 100%;
        transform: rotateZ(0deg);
    }
    .menu__txt {
        padding: 15px;
        width: 100%;
        max-width: 100%;
        ul > li {
            font-size: 25px;
            margin: 30px 10px;
        }
    }
}