
* {box-sizing: border-box;}

html, body {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #f0fff1;
;
}

.header {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    &__wrapper {
        background-image: linear-gradient(to bottom right, #5603ad, #8367c7, #b3e9c7);
        background-image: url('https://i.imgur.com/Verjau6.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #5603ad;
        margin: 0;
        padding: 0;
    }
    &__img {
        width: 100vw;
        height: 100vh;
        position: absolute;
        > img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
    &__name {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        text-align: center;
        transform : translate(-50%,-50%); 
        text-transform: uppercase;
        filter: drop-shadow(0 1mm 0.1em rgba(0,0,0, 0.5));
    }
    
    &__date {
        position: absolute;
        bottom:0;
        padding-left: 30px;
        opacity: 0.7;
        filter: drop-shadow(0 1mm 0.1em rgba(0,0,0, 0.5));
    }
}

.navbar {
 background-color: red;   
}

.card {
    margin: 10px 0;
    color: #8367c7;
    border: none;
    background-color: rgba(0,0,0, 0.0);
    &-body {
        padding: 20px;
    }
  }
  
  .album {
    padding: 20px;
    height: 100%;
  }
